target/
.idea/
*.iml
*.iws
*.ipr
out/
.classpath
.project
.settings/
bin/
.vscode/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
.DS_Store
Thumbs.db
desktop.ini
*.log
*.class
*.jar
!**/src/main/resources/*.jar
